body{
    height: 100%;
    margin: 0%;
    font-size: 16px;
    font-family: "lato",sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color:black;
    
}
.img1{
    background-image: url(../606284.jpg);
    height: 1000px;   
}
.img2{
    background-image: url(../790599.png);
    height: 1000px;
}
.img3{
   background-image: url(../176539-light_yagami-ryuk-death_note-r_e_m-animated_cartoon-3840x2160.jpg);
   height: 1000px;
}
.img4{
    background-image:url(../vegeta_4k_hd_dragon_ball_super-3840x2160.jpg);
    height: 1000px;
  
}
.img1,
.img2,
.img3,
.img4
{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.text{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 20px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.btext{
    background: black;
    color: azure;
    padding: 20px;
}
.section{
    padding: 50px 80px;
    text-align: center;
}
.section1{
    color:black;
    background-color: 	#2E62A3;
}
.section2{
    color:black;
    background-color:rgba(32, 180, 213, 0.759);
}
.section3{
    background-color:rgba(16, 16, 16, 0.548);
    color:black;
}
